<div style="margin: 0px 48px; height: 1px; background: rgb(59, 66, 84); color: rgb(20, 20, 45);">---</div>
<p style="color: rgba(255, 255, 255, 0.5);">{{ t('copyright', {'year': "now"|date("Y") }) }}</p>
<p style="color: rgba(255, 255, 255, 0.5);">{{ t('all_rights_reserved') }}</p>
<p style="color: rgba(255, 255, 255, 0.5);">{{ t('no_reply') }}</p>
<p style="color: color: rgb(20, 20, 45);">---</p>

  